*{
    margin: 0;
    padding: 0;
}
.main_div{
    /* border: red 2px solid; */
    margin-top: 0;
    display: flex;
  height: 100vh;
  /* position: fixed; */
}
.div1{
    /* border: red 2px solid; */
    width: 25%;
    
    
}
.div2{
    /* border: red 2px solid; */
    width: 45%;
    border: 1px solid #eee;
    border-bottom: none;
}
.div3{
    /* border: red 2px solid; */
    width: 30%;
}
.home{
    /* border: red 2px solid; */
    height: 2rem;
    margin:  1rem 0;
    /* z-index: 999;
    background: transparent; */
    font-family: inherit;
    font-size: 1.3rem;
    font-weight:500;
}
.insideHome{
    /* border: red 2px solid; */
    display: flex;
}
.transparent{
    /* border: red 2px solid;  */
    backdrop-filter: blur(90px);
    position: sticky;
    top: 0;
    z-index: 99;
}
.foryou{
    width: 50%;
    text-align: center;
    padding: 10px 0;
    font-weight: 500;
    font-family: inherit;
   height: 2rem;
   
    cursor: pointer;
    /* border: red 2px solid; */
}
.following{
    width: 50%;
    text-align: center;
    padding: 10px 0;
    font-weight: 500;
    height: 2rem;
   cursor: pointer;
    /* border: red 2px solid; */
}
.following:hover{
    background-color:gainsboro;
}
.foryou:hover{
    background-color: gainsboro;
}

.textHeader{
   display: flex;
   /* border: red 2px solid; */
   height: 8rem;
   padding:  0 10px;
   border: 1px solid #eee;
   /* margin-top: 5rem; */

}
.commentText textarea{
    resize: none;
    border: none;
    border-style: none;
    font-weight: 300;
    /* font-size: 10px; */
}
.profileSec{
    /* border: red 2px solid; */
    width: 10%;
}
.commentText{
    /* border: red 2px solid; */
    width: 90%;
    padding: o 20px;
}
.commentText input{
    width: 95%;
    height: 3rem;
    padding: 0;
    border: none;
}
.texticons{
    border: 1px solid #eee;
    height: 11vh;
    /* width: 38.5vw; */
    margin-top: 1rem;
    display: flex;
}
.icons{
    /* border: red 2px solid; */
    padding-top: 10px;
    margin-top: 1rem;
    width: 70%;
}
.Twittebtn{
    margin-top: .5rem;
}
.profile_div{
    /* border: red 2px solid;  */
    max-height: 80vh;
    /* overflow-y: scroll; */
    /* padding: 0 10px; */
}

.scroll{
    overflow-y: scroll;
    /* border: red 2px solid;  */
    /* margin-top: -5rem; */
}
.scroll::-webkit-scrollbar {
    display: none;
  }

  .hrline{
    border:  #1DA1F2 3px solid;
    border-radius: 3px;
   margin-left: 7rem;
   margin-top: 1rem;
    width: 4vw;
  }