/* *{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
} */

.main_Dive{
    position: fixed;
    padding: 10px;
    margin-left: 3.5rem;
}
.tweet_logo{
    margin-left: 1rem;
}
.sidebar {
  width: 22%;
  /* position: fixed; */
  top: 0;
  left: 2rem;
  height: 100%;
  border-right: 1px solid rgb(157, 157, 158);
  display: flex;
  flex-direction:column;
  align-items: start;
}
a{
    text-decoration: none;
    color:#000
}
.list{
    font-size: 1.2rem;
    font-weight: 400;
    padding: .5rem 1rem;
    /* margin-left: 3rem; */
    list-style: none;
}
.icons{
    margin-right: 1rem;
    font-size: 1.4rem;
}
.logo{
    color:rgb(26, 133, 220);
    font-size: 1.6rem;
}


.sidebar button{
    background-color:rgb(26, 133, 220);
    color:#fff;
    padding: 1rem 4rem; 
    border: none;
    border-radius: 1.3rem;
    font-size: 1.2rem;
}
.tweetBtn{
    margin: 1rem 0;
}

.list:hover{
    background-color: #dfe1e3;
    border-radius: 2rem;
    width: 15vw;
}
.userData{
    /* border: 1px red solid; */
    border-radius: 50px;
    margin-top: 2.5rem;
    width: 18.5vw;
    height: 12vh;
    padding: 0 6px;
    display: flex;
    gap: 10px;
    cursor: pointer;
}
.pimage{
    /* border: 1px red solid; */
    width: 50px;
    height: 11vh;
    /* margin-top: 8px; */
    padding-top: 8px ;

}
.username{
    /* border: 1px red solid; */
    width: 15vw;
    padding-top: 5px;
}
.name{
    font-weight: 700;
    font-size: medium;
    font-family:  inherit;
}
.email{
    font-weight: 400;
    font-size: 13px;
    font-family:  'Times New Roman', Times, serif;
}
.More{
    margin-top: 1rem;
    margin-right: .5rem;
   
}
.userData:hover{
    background-color: #dfe1e3;
}
.popoverName{
    font-size: small;
    font-weight: 600;
    margin: 1rem;
    /* padding: 1rem; */
    height: 3rem;
}